{% extends 'base.html' %}

{% block content %}
    <div id="intro" class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <h3 class="text-center mt-4 text-primary">See Quotes</h3>

                {% comment %} <h5 class="text-center mt-4"><a class="btn btn-primary font-weight-bold" href="{% url 'list' %}">See All Applications</a> </h5> {% endcomment %}

                <br>

                    <div class="col-lg-8 mx-auto ">
                        {% if messages %}
                        <ul style="list-style: none;" class="text-center mb-2 alert">
                            {% for message in messages %}
                            <li id="message" class="alert alert-{{ message.tags }} ">{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                        {% comment %} <img src="..." class="d-block w-100" alt="..."> {% endcomment %}
                        {% comment %} <div class="carousel-caption d-none d-md-block"> {% endcomment %}
                            <h5>First slide label</h5>
                            <p>What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. the first slide.</p>
                        {% comment %} </div> {% endcomment %}
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                        {% comment %} <img src="..." class="d-block w-100" alt="..."> {% endcomment %}
                        {% comment %} <div class="carousel-caption d-none d-md-block"> {% endcomment %}
                            <h5>Second slide label</h5>
                            <p>What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. the second slide.</p>
                        {% comment %} </div> {% endcomment %}
                        </div>
                        <div class="carousel-item">
                        {% comment %} <img src="..." class="d-block w-100" alt="..."> {% endcomment %}
                        {% comment %} <div class="carousel-caption d-none d-md-block"> {% endcomment %}
                            <h5>Third slide label</h5>
                            <p>What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. the third slide.</p>
                        {% comment %} </div> {% endcomment %}
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    </div>


            </div>

        </div>
    </div>

 <br> <br> <br>

{% endblock content %}